@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0b1b45;
}

::-webkit-scrollbar-thumb {
  background: #3555ff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f6bff;
}


